*{

    padding: 0%;
    margin: 0%;
}
#sidenav{
    background-color: #250029;
    display: fixed;
    /* display: inline-block; */
    height: 100vh;
    width: 200px;
    top: 0%;
    right: 0;
    position: absolute;
    transition: 0.5s;
}
#sidenav nav{}
#sidenav nav ul{
    padding-top: 40px;
}
#sidenav nav ul li{
    list-style-type: none;
    padding-top: 40px;
    margin-left: 10px;
}
#sidenav nav ul li a{
    color: white;
    text-decoration: none;
}
#menubtn{
    background-color: #250029;
    position: fixed;
    top: 0%;
    right: 0%;
    margin: 0 10px;
}
#menubtn img{
    width: 40px;
    cursor: pointer;

    padding: 0%; margin: 0%;
}
#baner{
    background-image:linear-gradient(rgba(0,0,0.2,0.2),#250029), url(./images/baner.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.logo{
    width: 150px;
    position: absolute;
    top: 4%;
    left: 5%;
}
.baner-text{
    text-align: center;
    color: white;
    padding-top: 150px;
}
.baner-text h1{
    font-size: 90px;
}
.baner-text p{
    font-size: 30px;
    font-style: italic;
}
.baner-btn{
    text-align: center;
    margin:70px auto 0;
}
.baner-btn a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid white;
    display: inline-block;   
    width: 150px;
    padding: 15px 0;
    margin: 0 15px;
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
.baner-btn a span{
    background-color: white;
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: -1;
    transition: 0.5s;
}
.baner-btn a:hover span{
    width: 100%;
}
.baner-btn a:hover {
    color: black;

}